.main-container {
  font-family: Helvetica, sans-serif, Arial;
  background-color: rgb(0, 0, 0);
  min-height: 93vh;

}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 5vh;
  background-color: rgb(0, 0, 0);
}

  .horizontal-menu ul {
    display: flex;
    list-style-type: none;
  }
  
  .horizontal-menu ul li {
    margin: 0 10px;
  }
  
  .horizontal-menu ul li a {
    text-decoration: none;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
/* Track */
::-webkit-scrollbar-track {
background: rgba(255 , 255, 255,1.0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(142, 243, 0, 0.8);
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(224, 9, 184); /* color of the scroll thumb */ 
  border-radius: 2px;  
}
