.Typewriter{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-align: left;
    justify-content: left;
    align-items: left;
    animation: typewriter 5s steps(7) infinite, blinking-cursor 0.8s infinite;
    animation-fill-mode: forwards;
    padding-top: 25px;

}
/* .details{
    justify-content: center;
    align-items: center;
} */


.contentDiv{
    padding-left: 15%;
}