.navbar-brand {
  padding-left: 55px;
  
}
.navbar-brand h1 {
  font-size: 2.2rem;
}
.navbar-brand h1:hover {
  color: aqua;
}
.navbar-nav {
  padding-right: 10px;
}
.nav-link:hover {
  color: aqua !important;
}
.navbar{
  border-bottom: 1.5px solid rgb(21, 226, 21);
}
.nav-link{
  font-size: 1.5rem !important;
}
.nav-item{
  border-right: 1.5px solid rgb(21, 226, 21);
}


#navbarNav{
  padding-left: 50px;
  border-left: 1.5px solid rgb(0,0, 0);
}