/* Project.css */

/* Add background color to project cells */
.project-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project-card h3 {
    margin-top: 0;
  }
  
  /* Display Technologies in one line */
  .project-card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .project-card li {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
  }
   
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .project-card {
      margin-right: 0;
    }
  }
  .projectName{
    font-size: 20px;
    font-weight: bold;
    color:black;
  }

/* .modal-body ul{
  padding-right: 10px;
  padding-left: 0px;
}

.imageGallery{
  /* max-width: 90%;
  height: 100%; */
  /* border: 1px solid black;
  box-shadow: #2b15453d 1px 10px 10px 5px;;
} */

/* .modal{
  max-width: 100% !important;
  min-height: 800px;
} */ 
/* .image-gallery-image {
  /* max-height: 500px; Adjust this value to your desired maximum height */
  /* margin: 0 auto; /* Center the image horizontally */
  /* display: block;  */ 
/* } */ 
/* .moeql-body{
  height: 500px;
} */
.modal{
  
  min-width: 1100px !important;
}
.modal-body{
  height: 500px !important;
}

.image-gallery-swipe{
  height: 300px;
  width: 600px;

}

.image-gallery-slide{
  height: 400px ;
  width: 700px;
}
.image-gallery-image{
  height: 100% ;
  width: 700px;
 
  
}
